.header {
    font-family: Helvetica, sans-serif;
    box-shadow: 0 0 4px rgba(0,0,0,0.12);
    background-color: #96efc0;
    height: 60px;
    background-image: linear-gradient(154deg, #96efc0 0%, #73baff 100%);
}

.header__content {
    box-sizing: border-box;
    max-width: 960px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

.header__user {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
}