.task__name {
    font-size: 15px;
    color: #303030;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.task {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 18px 35px 13px;
    margin: 0 0 5px 0;
    box-sizing: border-box;
}

.task:hover{
    box-shadow: 0 1px 4px #97e3cc;
    background-color: #ffffff;
    border: 0.25px solid #97e3cc;
}