.task__name {
    font-size: 15px;
    color: #303030;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0 0 5px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 18px 35px 13px;
}
