.button-delete {
    background: url("./images/delete.png") 0 0;
    width: 11px;
    height: 14px;
    display: inline-block;
    margin: 0 0 0 20px;
}

.button-delete:hover {
    background-position: -11px 0;
}