.logo {
    margin: 0 auto;
    width: 221px;
    box-sizing: border-box;
    display: block;
}

.form-login {
    margin: 0;
}

.login__field {
    width: 300px;
    display: block;
    margin: 39px 0 0 0;
}

.login__button {
    margin: 55px 0 0 0;
    width: 300px;
    height: 40px;
}

.another-action {
    margin: 40px 0;
    box-sizing: border-box;
    display: block;
}

.another-action__text {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #878787;
}

.another-action__link {
    width: 100%;
    display: block;
    margin: 3px auto 0;
    text-decoration: none;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #626262;
}

.another-action__link:hover {
    color: #535353;
}


.login__field[type='password'].neutral {
    color: #626262;
}

.login__field[type='password'].valid {
    color: #43CDA3;
}

.login__field[type='password'].invalid {
    color: #FD5A6F;
}