.logo {
    margin: 0 auto;
    width: 221px;
    box-sizing: border-box;
    display: block;
}

.form-signup {
    margin: 0;
}

.signup__field {
    width: 300px;
    display: block;
    margin: 39px 0 0 0;
}

.signup__button {
    margin-top: 23px;
    width: 300px;
    height: 40px;
}

.another-action {
    margin: 40px 0;
    box-sizing: border-box;
    display: block;
}

.another-action__text {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #878787;
}

.another-action__link {
    display: block;
    margin: 3px auto 0;
    text-decoration: none;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #626262;
    width: 45px;
}

.another-action__link:hover {
    color: #535353;
}

.signup__checkbox {
    margin-top: 18px;
}
